@import "../../partials/variables";
@import "../../partials/globals";
@import "../../partials/mixins";

.LandingPage {
  @include bg-image;

  .LandingPageWrap {
    width: 95%;
    margin: 0 auto;

    &__title {
      @include M-page-header;
      font-family: "Source Sans Pro";
      font-weight: 600;
      color: $text-orange;
      @include flex-center;
      padding-top: 3rem;
    }

    .directions {
      @include M-subheader;
      @include flex-center;
      flex-direction: column;
      padding-top: 2rem;

      &__item {
        @include flex-center;
        @include M-page-header;
        font-family: "Source Sans Pro";
        font-weight: normal;
        color: $text-orange;
        font-size: 2rem;
        padding: 1rem 2rem;
        text-align: center;
        line-height: normal;
      }
    }
  }
}
