@import "../../partials/variables";
@import "../../partials/globals";
@import "../../partials/mixins";

.nominations {
  background-color: $tyrian-purple;
  min-height: 100%;

  .notification {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.89);
    top: 0;
    left: 0;
    z-index: 1;
    position: fixed;
    @include flex-center;

    &__info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: rgba(95, 15, 64, 0.733);
      padding: 1rem 0;
      position: relative;
      top: -18.4rem;
    }

    &__blurb {
      @include M-page-header;
      color: $text-orange;
      text-align: center;

      padding: 2rem;
      // margin-bottom: 2rem;
    }

    &__btn {
      @include button;
      width: 80%;
    }
  }
  &__title {
    @include M-page-header;
    color: $text-orange;
    @include flex-center;
    padding-top: 2rem;
  }
  &__none {
    @include flex-center;
    @include M-page-header;
    font-family: "Source Sans Pro";
    font-size: 2rem;
    padding: 1rem 2rem;
    text-align: center;
    background-color: $text-orange;
    margin-top: 2rem;
    color: $midnight-green-eagle-green;
  }
  .nominationsContainer {
    padding: 2rem 0;
  }
}

.nomination {
  border: 1px solid $midnight-green-eagle-green;
  background-color: $text-orange;
  width: 27rem;
  margin: 0 auto;
  margin-bottom: 2rem;

  &__info {
    display: flex;
    width: 90%;
    margin: 0 auto;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  &__title {
    @include M-subheader;
    font-family: "Caveat";
    font-size: 1.8rem;
  }

  &__year {
    @include M-subheader;
    font-size: 1.5rem;
    margin-left: 1rem;
  }

  &__poster {
    // @include flex-center;
    height: 80%;
    width: 100%;
    object-fit: contain;
  }

  &__button {
    @include button;
  }
}
