@import "../../partials/variables";
@import "../../partials/globals";
@import "../../partials/mixins";

.results {
  background-color: $tyrian-purple;
  min-height: 100%;
  &__title {
    @include M-page-header;
    color: $text-orange;
    @include flex-center;
    padding-top: 2rem;
  }

  &__loading,
  &__error,
  &__searchEmpty {
    @include flex-center;
    @include M-page-header;
    font-family: "Source Sans Pro";
    font-weight: 600;
    font-size: 2rem;
    background-color: $text-orange;
    margin-top: 2rem;
    color: $midnight-green-eagle-green;
    padding: 1rem;
  }

  &__error {
    color: $text-orange;
  }

  .moviesContainer {
    padding: 2rem 0;
  }
}

.movie {
  border: 1px solid $midnight-green-eagle-green;
  border-radius: 2px;
  background-color: $text-orange;
  width: 27rem;
  margin: 0 auto;
  margin-bottom: 2rem;

  &__info {
    display: flex;
    width: 90%;
    margin: 0 auto;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  &__title {
    @include M-subheader;
    font-family: "Caveat";
    font-size: 1.8rem;
  }

  &__year {
    @include M-subheader;
    font-size: 1.5rem;
    margin-left: 1rem;
  }

  &__poster {
    height: 80%;
    width: 100%;
    object-fit: contain;
  }

  &__button {
    @include button;
  }
}
