@import "./variables";

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin bg-image {
  background: linear-gradient(
      rgba(255, 255, 255, 0.671),
      rgba(255, 255, 255, 0.521)
    ),
    url("../assets/images/pexels-skitterphoto-390089.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100%;
  padding-bottom: 2rem;
}

//MOBILE TEXTS
@mixin M-page-header {
  font-family: "Caveat";
  font-size: 2.8rem;
  line-height: 3rem;
  font-weight: bold;
  color: $tyrian-purple;
}

@mixin M-subheader {
  font-size: 1.6rem;
  font-weight: bold;
  color: $midnight-green-eagle-green;
}

@mixin M-search-text {
  font-size: 1.3rem;
  color: $midnight-green-eagle-green;
}

@mixin M-table-header {
  font-size: 1.1rem;
  line-height: 16px;
  color: $secondary-slate;
  font-weight: bold;
}

@mixin M-body-large {
  font-size: 1.5rem;
  line-height: 26px;
  color: $primary-black;
  font-weight: normal;
}

@mixin M-body-medium {
  font-size: 1.3rem;
  line-height: 20px;
  color: $primary-black;
  font-weight: normal;
}

@mixin M-body-small {
  font-size: 1.1rem;
  line-height: 16px;
  color: $primary-black;
  font-weight: normal;
}

//TABLET/DESKTOP TEXTS
@mixin T-page-header {
  font-size: 3.2rem;
  line-height: 40px;
  font-weight: bold;
  color: $primary-black;
}

@mixin T-subheader {
  font-size: 2.4rem;
  line-height: 32px;
  font-weight: bold;
  color: $primary-black;
}

@mixin T-label-link-button {
  font-size: 1.4rem;
  line-height: 22px;
  font-weight: bold;
  color: $primary-black;
}

@mixin T-table-header {
  font-size: 1.2rem;
  line-height: 18px;
  color: $secondary-slate;
  font-weight: bold;
}

@mixin T-body-large {
  font-size: 1.6rem;
  line-height: 28px;
  color: $primary-black;
  font-weight: normal;
}

@mixin T-body-medium {
  font-size: 1.4rem;
  line-height: 22px;
  color: $primary-black;
  font-weight: normal;
}

@mixin T-body-small {
  font-size: 1.2rem;
  line-height: 18px;
  color: $primary-black;
  font-weight: normal;
}

@mixin tablet {
  @media (min-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $breakpoint-desktop) {
    @content;
  }
}

@mixin search-button {
  background-color: transparent;
  outline: none;
  border: 1px solid $tyrian-purple;
  border-radius: 2px;
  @include flex-center;
  padding: 0.3rem;
  background-color: $tyrian-purple;
  height: 3.6rem;
  width: 5rem;
}

@mixin button {
  width: 90%;
  display: block;
  margin: 0 auto;
  height: 3.7rem;
  background-color: $midnight-green-eagle-green;
  outline: none;
  border: 1px solid $midnight-green-eagle-green;
  border-radius: 2px;
  @include M-subheader;
  color: $text-orange;
  margin-bottom: 1rem;
}

//INPUTS
@mixin input-field {
  display: block;
  width: 75%;
  height: 3.6rem;
  border: 1px solid $tyrian-purple-border;
  border-right: none;
  border-radius: 2px;
  padding: 0.7rem 0rem 0.9rem 1.6rem;
  transition: 0.2s;
  &:focus {
    border-color: $tyrian-purple;
  }
  @include tablet {
    margin-bottom: 2.4rem;
    height: 3.8rem;
  }
}

@mixin input-error {
  width: 100%;
  height: 36px;
  border: 1px solid red;
  border-radius: 20px;
  margin-bottom: 0;
  padding: 0.7rem 0rem 0.9rem 1.6rem;
  transition: 0.2s;
  &:focus {
    border-color: $misc-red;
  }
  @include tablet {
    margin-bottom: 0;
    height: 38px;
  }
}
