@font-face {
  font-family: "Titillium Web";
  src: url(../assets/fonts/TitilliumWeb-Regular.woff2) format("woff2"),
    url(../assets/fonts/TitilliumWeb-Regular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Titillium Web";
  src: url(../assets/fonts/TitilliumWeb-SemiBold.woff2) format("woff2"),
    url(../assets/fonts/TitilliumWeb-SemiBold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Caveat";
  src: url(../assets/fonts/Caveat-Bold.woff2) format("woff2"),
    url(../assets/fonts/Caveat-Bold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}
