//COLORS
//PRIMARY
$primary-black: #13182c;
$primary-indigo: #2e66e5;
$primary-white: #ffff;
$secondary-slate: #5c667e;
$secondary-cloud: #bdc5d5;
//SECONDARY
$background-graphite: #232940;
$background-grey: #f7f8f9;
//MISC
$misc-green: #158463;
$misc-red: #d3230c;
//BREAKPOINTS
$breakpoint-tablet: 680px;
$breakpoint-desktop: 1080px;

//new scheme
$tyrian-purple: #5f0f40ff;
$tyrian-purple-border: rgba(95, 15, 64, 0.301);
$ruby-red: #9a031eff;
$dark-orange: #fb8b24ff;
$spanish-orange: #e36414ff;
$midnight-green-eagle-green: #0f4c5cff;
